:root {
    --myColor: rgb(60, 179, 113, 0.2) ;
} 

body {
    background-image: url("../images/backround.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    Font-size: 20PX ;
}

h1 {
    color: lightseagreen ;
    text-align: center;
    font-family: Cursive ;
    Font-size: 40PX ;    
}

h2 {
    color: lightseagreen;
    text-align: center;
    font-family: Cursive ;
    Font-size: 40PX ;
}

from {
    color: black;
    text-align: left;
    font-family: Garamond, serif;  
    Font-size: 20PX ;
    font-weight: bold;
    position: relative;
    animation-name: EX_3;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.grid-container{
    display: grid;
    grid-template-areas: 'Education WorkExperience Personalinfo Hobbies SocialandCommunityActivity';
    background-color: var(--myColor);
    font-family: Garamond, serif;
    font-weight: bold;  
}

.Education {
   grid-area: Education; 
}

.Work_Experience {
  grid-area: WorkExperience; 
}

.Personal_info {
    grid-area: Personalinfo; 
}

.Hobbies {
    grid-area: Hobbies; 
}

.Social_and_Community_Activity {
    grid-area: SocialandCommunityActivity; 
}

@keyframes EX_3 {
    from {left: 0px;}
    to {left: 800px;}
}